<div class="panel panel-default">
  <div class="panel-heading">
    <h1>{{tv.brand}}  {{tv.model}}</h1>
  </div>
  <form>
  <div class="panel-body">
    <table class="table table-striped table-bordered">
      <tbody>
      <tr>
        <th>Id</th>
        <td>{{tv.id}}</td>
      </tr>
      <tr>
        <th>Brand</th>
        <td><input type="text" name="brand" class="form-control" [(value)] = tv.brand [(ngModel)] = "tv.brand"></td>
      </tr>
      <tr>
        <th>Model</th>
        <td><input type="text" name="model" class="form-control" [(value)] = tv.model [(ngModel)] = "tv.model"></td>
      </tr>
      <tr>
        <th>Color</th>
        <td><input type="text" name="color" class="form-control" [(value)] = tv.color [(ngModel)] = "tv.color"></td>
      </tr>
      <tr>
        <th>Display Technology</th>
        <td><input type="text" name="display_technology" class="form-control" [(value)] = tv.display_technology [(ngModel)] = "tv.display_technology"></td>
      </tr>
      <tr>
        <th >Screen Size</th>
        <td><input type="text" name="screen_size" class="form-control" [(value)] = tv.screen_size [(ngModel)] = "tv.screen_size"></td>
      </tr>
      <tr>
        <th >Refresh Rate</th>
        <td><input type="text" name="refresh_rate" class="form-control" [(value)] = tv.refresh_rate [(ngModel)] = "tv.refresh_rate"></td>
      </tr>
      <tr>
        <th >Weight</th>
        <td><input type="text" name="weight" class="form-control" [(value)] = tv.weight [(ngModel)] = "tv.weight"></td>
      </tr>
      <tr>
        <th>Condition</th>
        <td>
          <select class="form-control" name="condition" [(value)] = "tv.condition" [(ngModel)] = "tv.condition">
            <option>Working</option>
            <option>Broken</option>
          </select>
        </td>
      </tr>
      <tr>
        <th >Inputs</th>
        <td><input type="text" name="inputs" class="form-control" [(value)] = tv.inputs [(ngModel)] = "tv.inputs"></td>
      </tr>
      </tbody>
    </table>
    <button class="btn btn-success" type="submit" (click)="upTv()">Update</button>
    <button class="btn btn-danger ml-2" (click)="router.navigateByUrl(['/list'])">Cancel</button>
  </div>
  </form>
</div>
